<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://cdn.tailwindcss.com"></script>
       <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
            100: '#f3f4f6',
          }
        }
      }
    }
  </script>


    <title>Tech blog</title>
</head>
<body class=" bg-stone-700">
  <h1 class=" text-5xl pt-8"> The Tech-blog</h1>
            {{#if logged_in}}
        <a href="/profile">Profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>

    </footer>
    {{#if logged_in}}
    <script src="/js/login.js"></script>
    {{/if}}
</body>
</html>
