{{!-- generate template engine for the login page --}}
<div class="card mx-auto my-10 flex justify-center max-w-sm bg-orange-300">
  <div class="card-body p-6">
    <h2 class="text-lg">Login</h2>
    <section>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
        <label for="floatingInput">Email address:</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password-login" placeholder="Password">
        <label for="floatingPassword">Password:</label>
      </div>
      <button class="btn btn-primary" type="submit">Login</button>
      <div>
        <p class=" pt-3">
          Or
        </p>
        <a href="/signup">
        <button class="btn btn-primary pt-3" type="submit">Sign up</button>
        </a>
      </div>
    </section>
  </div>
</div>


<script src="../public/js/login.js"></script>